<script defer src="/static/js/artist-page-toggle-description.js"></script>
<div class="grid-page-wrap artists-page">
    {{>header}}
    <section class="main-section">
        <h1 class="section-header">Артисты бренда Champan Guitars</h1>
        {{#each artists}}
        <div class="artist-section">
            <div class="artist-name">
                <h2>{{this.name}}</h2>
            </div>
            <img class="artist-photo" src="/{{this.photo}}" alt="{{this.name}}">
            <div class="artist-description">
                {{this.description}}
            </div>
            <div id="blabla">{{activeMenuItem}}</div>
        </div>
        {{/each}}
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>