<div class="guitar-gallery-wrap">
    <div class="series-name"><h2>СЕРИЯ STANDARD</h2></div>
    {{#each guitars}}
        <div class="guitar-item" data-guitar-name="{{this.name}}">
            <a href="guitars/st-ml1.html" class="header-link"><p>{{this.name}}</p>
            <p>STANDARD</p></a>
            <div class="circle-wrap">
                {{#each this.colors}}
                    <img
                        class="color-circle {{#unless @index}}current-color-circle{{/unless}}"
                        src="{{this.dot_image}}"
                        alt="color-ico"
                        data-circle-tag="{{@index}}"
                    >
                {{/each}}
            </div>
            {{#each this.colors}}
                <img
                    class="guitar-image {{#unless @index}}current-guitar-image{{/unless}}"
                    src="{{this.guitar_image}}"
                    alt="{{../this.name}}-{{@index}}"
                    data-guitar-image="{{../this.name}}-{{@index}}"
                >
            {{/each}}
        </div>
    {{/each}}
</div>