<div class="grid-page-wrap guitar-page">
    {{>header}}
    <section class="main-section">
        <h1 class="model-name">Chapman {{guitar.name}}</h1>
        <div class="specs-table">
            <div class="table-header">
                <h2>Спецификация</h2>
            </div>
            {{#each guitar.specs}}
            <div class="table-row">
                <div class="item-name">{{this.key}}</div>
                <div class="item-description">{{this.value}}</div>
            </div>
            {{/each}}
            <div class="table-row">
                <div class="item-name">Доступные цвета</div>
                <div class="item-description">
                    {{#each guitar.colors}}
                    <img class="guitar-color" src="/uploads/{{this.tabImage}}" alt="color-{{@index}}">
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="model-photos-gallery">
            {{#each guitar.colors}}
            <img class="model-photo" src="/uploads/{{this.guitarImage}}" alt="{{../this.name}}-{{@index}}">
            {{/each}}
        </div>
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>