<div class="grid-page-wrap search-page">
    {{>header}}
    <section class="main-section">
        <div class="section-top">
            <h1 class="section-header">Поиск по сайту Champan Guitars</h1>
            <form class="styled-form" action="/search" method="GET">
                <input name="query" type="string" value="{{query}}" />
                <input type="submit" value="Поиск"/>
            </form>
        </div>
        <div class="search-results">
            {{#each results}}
                <div class="search-result">
                    <a href="{{this.url}}">{{this.index}}. {{this.url}}</a>
                </div>
            {{else}}
                {{#if query}}
                    <div>По запросу "{{query}}" ничего не найдено</div>
                {{/if}}
            {{/each}}
        </div>
    </section>
    {{>menu activeMenuItem}}
    {{>footer}}
</div>